/* Yazının 2 satırdan sonra ... olarak gözükmesi */
.clamped-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* İstenen satır sayısı */
    -webkit-box-orient: vertical;
  }
  
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (min-width: 0px) and (max-width:400px) {
    .responsiveText{
        font-size: 10px;
    }
} */


  
